<link rel="stylesheet" href="styles/contact-form-style.css">

<form class="form-horizontal" role="form">

  <div class="modal-header">
    <h3 class="modal-title"
        ng-bind="contact.id == 0 ? 'Contact Create' : 'Contact Update'">
    </h3>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <div class="contact-form">
        <i class="glyphicon glyphicon-user"></i>
        <input class="form-control" type="text"
               placeholder="First Name" ng-model="contact.firstName">
        <input class="form-control" type="text"
               placeholder="Last Name" ng-model="contact.lastName">
      </div>
    </div>
    <div class="form-group">
      <div class="contact-form">
        <i class="glyphicon glyphicon-envelope"></i>
        <input class="form-control" type="email"
               placeholder="E-mail" ng-model="contact.email">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary" type="button"
                ng-click="ok()">Ok</button>
        <button class="btn btn-default" type="button"
                ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>

</form>

