<!DOCTYPE html>
<html lang="en" ng-app="contactApp">

  <head>
    <title>Address Book</title>
    <meta charset="utf-8">

    <!-- load dependencies from CDNs or fallback to locals -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script> (function () {
        if (window.angular) { return true; } return false; })() || 
        document.write('<script src="lib/dependencies/angular.min.js"><\/script>')
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js"></script>
    <script> (function () {
        try { window.angular.module('angular.resource'); } catch (e) { return false; } return true; })() || 
        document.write('<script src="lib/dependencies/angular-resource.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script> (function () {
        try { window.angular.module('ui.bootstrap'); } catch (e) { return false; } return true; })() || 
        document.write('<script src="lib/dependencies/ui-bootstrap-tpls.min.js"><\/script>')
    </script>

    <!-- load application scripts -->
    <script src="script/contact-rest.js"></script>
  </head>

  <body>
    <div class="container">
      <!--ADDRESS BOOK HEADER-->
      <div class="jumbotron"><h1>My Address Book</h1></div>

      <!--ADDRESS BOOK MESSAGE-->
      <div class="message" ng-controller="contactAlertController">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
          {{alert.msg}}
        </alert>
      </div>

      <!--ADDRESS BOOK TABLE-->
      <div class="container" ng-controller="contactTableController">
        <table class="table">
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <td><button class="btn btn-xs btn-default" ng-click="create()"><b>create</b></button><td>
            <td><button class="btn btn-xs btn-default" ng-click="read()"><b>read</b></button><td>
          </tr>
          <tr ng-repeat="contact in contacts">
            <td ng-bind="contact.id"></td>
            <td ng-bind="contact.firstName"></td>
            <td ng-bind="contact.lastName"></td>
            <td ng-bind="contact.email"></td>
            <td><button class="btn btn-xs btn-default" ng-click="update(contact)">update</button><td>
            <td><button class="btn btn-xs btn-default" ng-click="delete(contact)">delete</button><td>
          </tr>
        </table>
      </div>

    </div>
  </body>

</html>

